@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">

    <h1>Congrauations! Your submittion is sent successfully!</h1>

    <a asp-controller="Home" asp-action="Index">Back to Home Page |</a>
    
    <a asp-controller="Home" asp-action="ViewTasks">See Results |</a>

    <a asp-controller="Home" asp-action="Form">Add More Here</a>

</div>
